# ---------------- INITIAL CONFIGURATION ---------------
# These values are required.
# ------------------------------------------------------

# Specifies the NxN lattice size
LATTICE_SIZE=20

# Specifies what type of simulation is desired.
#
#   0: single simulation
#       -Lets a single lattice come to equilibrium. 
#       -Measurements/plots of the total energy, magnetization, and specific heat are saved
#   1: multi simulation
#       -Let's many lattices come to equilibrium in succession.
#       -Measurements of the magnetization and specific heat are saved
#   2: visual simulation
#       -Does not do any calculations, but instead, renders the simulation using Raylib
SIM_TYPE=1

# INITIAL_TEMP: the starting configuration temperature. This is the (only) starting temperature for the single simulation, and the starting temperature for the first simulation in a multi-simulation (afterwards, the equilibrium configuration of the previous run becomes the initial configuration for the next run)
#   0: T=0
#   1: T=infinity
INITIAL_TEMP=1


#----------------- SINGLE SIMULATION VALUES -----------------
# The following fields contain information relevant for running a single simulation
# These fields are ignored if any other simulation is selected
#------------------------------------------------------------

# EQUIB_TEMP: the temperature at which to come to equilibrium.
EQUIB_TEMP=2.0


# OVERRIDE_EQUIB_TIME: Whether or not you want to override the default number of steps per lattice site that are taken before the system is assumed to be in equilibrium. The default gives enough time for a 100x100 lattice, but it may be changed
#   0: Don't override, keep default
#   1: Do override
# EQUIB_TIME: If OVERRIDE_EQUIB_TIME=1, then this value is the number of steps per lattice site that are taken instead of the default. This value is ignored if the previous value is not 1.
OVERRIDE_EQUIB_TIME=1
EQUIB_TIME=6000



#----------------- MULTI SIMULATION VALUES ------------------
# The following fields contain information relevant for running a multi simulation
# These fields are ignored if any other simulation is selected
#------------------------------------------------------------

# T0: The temperature at which the first run comes to equilibrium at
T0=0.2
# TF: The temperature at which the last run comes to equilibrium at
TF=5.0
# DT: The temperature step. Ideally, should be able to cleanly divide TF-T0
DT=0.2




# --------------------RAYLIB SIMULATION CONFIG----------------------
# Defines Raylib simulation values. 
# These values are ignored if SIM_TYPE is not equal to 2
# ------------------------------------------------------------------

# WIN_H: the height of the window, in pixels
# WIN_W: the width of the window, in pixels
# WIN_TITLE: the title of the window, enclosed in quotes
# REFRESH_RATE: how fast the simulation updates. depending on lattice size, it might not be desirable to make this very large
WIN_W=800
WIN_H=800
WIN_TITLE="Ising Model"
REFRESH_RATE=60

# EQUIB_TEMP: The temperature the system should to equilibrium with
EQUIB_TEMP=2.0